/* Estilização da barra de navegação utilizada nas páginas da aplicação */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2D3F;
    padding: 5px;
    color: rgb(255, 255, 255);
    height: 80px;
}
ul{
    list-style: none;
    margin-right: 20px;
    padding: 0px;
    display: flex;
    flex-direction: row;
}
li{
    margin-left: 30px;
    color: rgb(247, 247, 247);
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    padding-right: 10px;
}
span{
    padding-right: 5px;
    text-decoration: none;
}

.Link{
    text-decoration: none;
}
