/* Estilização do cabeçalho padrão utilizado nas páginas da aplicação */
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #74B3CE;
    height: 150px;
}
h1{
    font-family: "Inter", sans-serif;
    font-size: 36px;
    color: #03045E;
    
}
h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #0077B6;
}

