.container{
    position: relative;
    width: 290px;
    margin: 30px;
    overflow: hidden;
    border-radius: 15px;
    transition: transform 0.3s ease;
    background-color: #16425B;
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    
}
figure{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
p{
    color: #74B3CE;
    text-align: center;
}
h3{
    text-align: center;
    color: #74B3CE;
}
.container img{
    height: auto;
    width: 100%;
    object-fit: cover;
}