/* Estilização do componente footer */
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:  #74B3CE;
    padding: 5px;
    color: #03045E;
    height: 80px;
}